# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data
# Allow raw data
!data/raw/*
#Avoid remaining
data/processed/*
data/raw/*
data/processed/*

# Models
*.h5
*.keras
*.ckpt

# Logs & plots
*.log
*.png
*.jpg
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
